{% extends "masterpage.html" %}
{% block content %}
<table>
   
    <tr>
        <th>Task ID</th>
        <th>Task Name</th>
        <th>Created At</th>
        <th>Completed At</th>
        <th>Status</th>
        <th></th>
        <th></th>
    </tr>
    {% for x in rows %}
    <tr>
        <td>{{x.taskID}}</td>
        <td>{{x.Taskname}}</td>
        <td>{{x.Createdat}}</td>
        <td>{{x.Completedat}}</td>
        <td>{{x.Status}}</td>
        <td> 
            <a href="/update/{{x.taskID}}"><input type="submit" value="Update task" class="mt-3 btn btn-success"></a></td>
        <td>
            <a href="/delete/{{x.taskID}}"><input type="submit" value="delete Task" class="mt-3 btn btn-success"></a>
    </td>
    
    </tr>
    {% endfor %}
</table>

<center><a href="http://127.0.0.1:5000/add"><input type="submit" value="Add New Task" class="mt-3 btn btn-success"></a></center>
{% endblock %}
